<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>136352767374-3ipn52q46rvhsr3n2smroi9dgsoutsnp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136352767374-3ipn52q46rvhsr3n2smroi9dgsoutsnp</string>
	<key>API_KEY</key>
	<string>AIzaSyACtP26umO-g_DeP9R50eDAc73MSQ1uKLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>136352767374</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mx.rfpro.parking</string>
	<key>PROJECT_ID</key>
	<string>parkingfreemium</string>
	<key>STORAGE_BUCKET</key>
	<string>parkingfreemium.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:136352767374:ios:070625b2b3de5571ec18df</string>
	<key>DATABASE_URL</key>
	<string>https://parkingfreemium.firebaseio.com</string>
</dict>
</plist>